
/* =======================
        font style 
==========================*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;500;700&family=Libre+Baskerville:wght@700&family=Lobster&family=Poppins&family=Roboto:wght@300;400&display=swap');
/*------------------------
       Header section
------------------------ */
header{
    width: 80%;
    margin: 0 auto;
    height: 36px;
}
.logo{
    font-size: 24px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    margin-top: 25px;
}

/*==========================
        main sectation 
 ===========================*/
main{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
}
.title{
    font-size: 52px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
}
.pragraph{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 50px;
}
.order-button{
    font-size: 16px;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 16px;
    border-radius: 50px;
    color: wheat;
    margin-top: 50px;
}
.image{
    margin-left: 55px;
    /* background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat; */
    background-size: 100% 100%;
}
.image img:hover{
    width: 500px;
}
hr{
    border: 1px solid rgb(177, 177, 177)
}

/*======================
        add section
======================== */
.add{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 25px;

}
.add img{
    justify-items: center;
    align-items: center; 
}

/* ====================
    gallery section 
======================= */
.gallery{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gallery-title{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
/* card */
.product{
    width: 320px;
    height: 476px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888; 
    border-radius: 7px; 
}
.informataion{
    margin: 10px;
}
.product img{
    margin: 10px;
}
.name{
    font-size: 28px;
    margin-bottom: 0px;
}
.price{
    font-size: 24px;
    margin: 12px 0;
}
.reating{
    color: gray;
    font-size: 14px;
    margin-left: 9px;
}
.star{
    color: #FB8200;
}
.blank{
    color: gray;
}
.description{
    margin: 0;
}

/* grid section  */

.popular-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
}
.see-more{
    text-decoration: none;
    margin-top: 60px;
    font-size: 20px;
    color: #E02C6D;
}
.see-more-button{
    text-align: right;
    margin-right: 70px;
    margin-top: 40px;
}
/*========================= 
coment section 
=========================== */
.feet-back{
    margin-top: 40px;
}
.coment-sectio{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.coment-img img{
    width: 500px;
    height: 400px;
}
.comment-title{
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.coment-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.submit-button{
    background-color: #E02C6D;
    padding: 10px 20px;
    width: 40%;
    text-align: center;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

/*========================= 
        footer section  
===========================*/
.footer-box{
    text-align: center;
    background-color: rgb(11, 11, 43);
    padding: 40px;
    margin-top: 60px;
}
.icon{
    font-size: 32px;
    margin: 10px;
    color: white;
}
.footer-text{
    color: wheat;
}
.footer-title{
    color: wheat;
}

/* =============================
        responsive area 
================================ */

@media (max-width:1380px){
    .popular-collection{
        grid-template-columns: repeat(2, 1fr);
    }
    .product{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .coment-sectio{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
}
@media (max-width:930px){
    main{
        display: block;
    }
    .add{
        grid-template-columns: repeat(4, 1fr);
    }
    .coment-img img{
        height: auto;
        width: auto;
        margin: 0 auto;
    }
}
@media (max-width:900px){
    .popular-collection{
        grid-template-columns: repeat(1, 1fr);
    }
    .image img{
    height: auto;
    width: auto;
    margin: 0 auto;
    }
    
}
@media (max-width:600px){
    .add{
        grid-template-columns: repeat(3, 1fr);       
    }
    .image img{
        width: 202px;
        height: 190px;
        margin-top: 20px;
    }
}
